.form-color {
    background-color: whitesmoke;
    padding: 3rem;
    border-radius: 10%;
}

.rounded-custom {
    border-radius: 8px;
}


/* Michal */
.michal-custom-background {
    background-image: url('/static/assets/michal-background.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh; 
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: -1;
    filter: brightness(0.4);
  }

  .michal-wrapper {
    margin-left: auto;
    padding: 30px 10px 30px 10px;
    width: 95%;
    border-radius: 20px;
    border: 1px solid white;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
  }

  .michal-image {
    width: 50%;
    height: auto;
  }
/* END */