{% extends 'base.html' %} 
{% block head %}
  <title>Statystyczne porównanie danych walutowych - Adrian Adamus</title>
{% endblock %}
{% block body %}
  {% include  'navbar.html' %}
  {% include 'topbutton.html' %}
  <div class="bg-white">
    <div class="mx-auto max-w-7xl py-24 sm:px-2 sm:py-32 lg:px-4">
      <div class="mx-auto max-w-2xl px-4 lg:max-w-none">
        <div class="max-w-3xl">
          <h2 class="font-semibold text-gray-500">Adrian Adamus</h2>
          <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Analiza ceny PLN - USD</p>
          <p class="mt-4 text-gray-500 text-justify">Celem tego projektu jest przeprowadzenie analizy kursu wymiany dolara amerykańskiego
            do polskiej złotówki (USD/PLN) w celu zrozumienia fluktuacji cenowej tej waluty. Projekt ma na celu zidentyfikowanie trendów i
            analizę wpływu na polską walutę.
          </p>
        </div>

        <!-- Sekcja do skopiowania -->

        <div class="mt-10 space-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16">
          <div class="flex flex-col-reverse lg:grid lg:grid-cols-12 lg:items-center lg:gap-x-8">
            <div class="mt-6 lg:col-span-5 lg:mt-0 xl:col-span-4">
              <h3 class="text-2xl font-medium text-gray-900">Cena dolara</h3>
              <p class="mt-2 text-sm text-gray-500 text-justify">Jak widać na zamieszczonym wykresie, wartość dolara zaczęła gwałtownie rosnąć w latach 90, ze względu na dynamicznie rowijającą się gospodarkę co przyciągnęło wielu inwestorów którzy szukali miejsca do zainwestowania środków w czasach wielu kryzysów w innych częściach świata. Stan bezrobocia był bardzo niski w tych latach. Dodatkowo zmienił się równiez system monetarny.
              </p>
            </div>
            <div class="flex-auto lg:col-span-7 xl:col-span-8">
              <div class="aspect-h-2 aspect-w-5 overflow-hidden rounded-lg bg-gray-100">
                <img src="data:image/png;base64, {{php}}" alt="Poland GDP" class="object-cover object-center"> 
              </div>
            </div>
          </div>

          <!-- koniec sekcji do skopiowania -->

          <div class="mt-10 space-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16">
            <div class="flex flex-col-reverse lg:grid lg:grid-cols-12 lg:items-center lg:gap-x-8">
              <div class="mt-6 lg:col-span-5 lg:mt-0 xl:col-span-4">
                <h3 class="text-2xl font-medium text-gray-900">Drastyczny spadek wartości</h3>
                <p class="mt-2 text-sm text-gray-500 text-justify">W 2008 roku doszło do globalnego kryzysu finansowego, który miał wpływ na gospodarki wielu krajów, w tym także na wartość dolara amerykańskiego. Kryzys ten miał swoje korzenie głównie w sektorze hipotecznych kredytów subprime w Stanach Zjednoczonych. Banki udzielały kredytów o niskiej jakości klientom, a te kredyty były pakowane w skomplikowane instrumenty finansowe, takie jak obligacje hipoteczne. 
                </p>
              </div>
              <div class="flex-auto lg:col-span-7 xl:col-span-8">
                <div class="aspect-h-2 aspect-w-5 overflow-hidden rounded-lg bg-gray-100">
                  <img src="data:image/png;base64, {{plps2000}}" alt="Poland GDP" class="object-cover object-center"> 
                </div>
              </div>
            </div>

            <div class="mt-10 space-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16">
              <div class="flex flex-col-reverse lg:grid lg:grid-cols-12 lg:items-center lg:gap-x-8">
                <div class="mt-6 lg:col-span-5 lg:mt-0 xl:col-span-4">
                  <h3 class="text-2xl font-medium text-gray-900">Best Buy to Sell</h3>
                  <p class="mt-2 text-sm text-gray-500 text-justify">Po gigantycznym spadku waluty, część inwestorów wysokiego ryzyka miała mozliwość zainwestowania swoich środków w aktywa na rynku amerykańskim. Jak pokazuje przegieg wykresu to w roku 2008, cena dolara była najnizsza. Wykres przedstawia najkorzystniejszy czas na handel walutą - zakup - sprzedaz.
                  </p>
                </div>
                <div class="flex-auto lg:col-span-7 xl:col-span-8">
                  <div class="aspect-h-2 aspect-w-5 overflow-hidden rounded-lg bg-gray-100">
                    <img src="data:image/png;base64, {{pbttt}}" alt="Poland GDP" class="object-cover object-center"> 
                  </div>
                </div>
              </div>

              <div class="mt-10 space-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16">
                <div class="flex flex-col-reverse lg:grid lg:grid-cols-12 lg:items-center lg:gap-x-8">
                  <div class="mt-6 lg:col-span-5 lg:mt-0 xl:col-span-4">
                    <h3 class="text-2xl font-medium text-gray-900">Linia trendu</h3>
                    <p class="mt-2 text-sm text-gray-500 text-justify">Wykres przedstawia przebieg linii trendu wartości dolara do polskiego złotego w latach 2005-2024.
                    </p>
                  </div>
                  <div class="flex-auto lg:col-span-7 xl:col-span-8">
                    <div class="aspect-h-2 aspect-w-5 overflow-hidden rounded-lg bg-gray-100">
                      <img src="data:image/png;base64, {{pts2005}}" alt="Poland GDP" class="object-cover object-center"> 
                    </div>
                  </div>
                </div>
        </div>
      </div>
    </div>
  </div>
{% endblock%}
