{% extends 'base.html' %} 
{% block head %}
  <title>Statystyczne porównanie danych walutowych - Adrian Adamus</title>
{% endblock %}
{% block body %}
  {% include  'navbar.html' %}
  <div class="bg-white">
    <div class="mx-auto max-w-7xl py-24 sm:px-2 sm:py-32 lg:px-4">
      <div class="mx-auto max-w-2xl px-4 lg:max-w-none">
        <div class="max-w-3xl">
          <h2 class="font-semibold text-gray-500">Adrian Adamus</h2>
          <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Analiza ceny PLN - USD</p>
          <p class="mt-4 text-gray-500">Celem tego projektu jest przeprowadzenie analizy kursu wymiany dolara amerykańskiego
            do polskiej złotówki (USD/PLN) w celu zrozumienia fluktuacji cenowej tej waluty. Projekt ma na celu zidentyfikowanie trendów,
            analizę wpływu na polską gospodarkę oraz zrozumienie ewentualnych korelacji z innymi czynnikami ekonomicznymi.
          </p>
        </div>

        <!-- Sekcja do skopiowania -->

        <div class="mt-10 space-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16">
          <div class="flex flex-col-reverse lg:grid lg:grid-cols-12 lg:items-center lg:gap-x-8">
            <div class="mt-6 lg:col-span-5 lg:mt-0 xl:col-span-4">
              <h3 class="text-2xl font-medium text-gray-900">Cena dolara</h3>
              <p class="mt-2 text-sm text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
              </p>
            </div>
            <div class="flex-auto lg:col-span-7 xl:col-span-8">
              <div class="aspect-h-2 aspect-w-5 overflow-hidden rounded-lg bg-gray-100">
                <img src="data:image/png;base64, {{NAZWAZMIENNEJ}}" alt="Poland GDP" class="object-cover object-center"> 
              </div>
            </div>
          </div>

          <!-- koniec sekcji do skopiowania -->

        </div>
      </div>
    </div>
  </div>
{% endblock%}
