{% extends 'base.html' %} 

{% block head %}
  <title>Michał Krzysteczko</title>
{% endblock %}
{% block body %}
  {% include  'navbar.html' %}
  <div class="michal-custom-background"></div>

    <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden text-light">
      <div class="my-3 p-3">
        <h2 class="display-3">Michał Krzysteczko</h2>
        <p class="lead">Analiza ceny Bitcoina &#8383; od dnia 21 grudnia 2015 do dnia 21 grudnia 2023r.</p>
      </div>
      <div class="michal-wrapper">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste repellendus accusantium earum animi
        maxime molestias temporibus quae iure repudiandae error obcaecati voluptatum at facere, sequi itaque
        perspiciatis consequatur fugiat aliquam!
      </div>
    </div>


{% endblock%}
