{% extends 'base.html' %} 

{% block head %}
  <title>Michał Krzysteczko</title>
{% endblock %}
{% block body %}
  {% include  'navbar.html' %}
  <div class="michal-custom-background"></div>

  <div class="bg-body-tertiary me-md-3 pt-3 pb-5 px-3 pt-md-5 px-md-5 text-center overflow-hidden text-light">
    <div class="my-3 p-3">
      <h2 class="display-3">Michał Krzysteczko</h2>
      <p class="lead">Analiza ceny Bitcoina &#8383; od dnia 21 grudnia 2015 do dnia 21 grudnia 2023r.</p>
    </div>
    <div class="michal-wrapper">
      <span>
        Projekt zakłada kompleksową analizę cen bitcoina, obejmującą okres od 21 grudnia 2015 roku do 21 grudnia 2023 roku. 
        W ramach zadania skoncentrujemy się na opracowaniu szczegółowych wykresów, które odzwierciedlą dynamikę 
        rynkową tego kryptowalutowego aktywa. Przygotowane wykresy będą obejmować kilka kluczowych aspektów, w tym:
        <ul>
          <li>Najwyzsza cena Bitcoina</li>
          <li>Najnizsza cena Bitcoina</li>
        </ul>
      </span>
      
      <img src="data:image/png;base64, {{ath}}" alt="Bitcoin all time high" class="michal-image"> 
      <img src="data:image/png;base64, {{atl}}" alt="Bitcoin all time low" class="michal-image"> 
      <img src="data:image/png;base64, {{halvings}}" alt="Halvingi bitcoina" class="michal-image"> 
      <img src="data:image/png;base64, {{first_halving}}" alt="Cykl bitcoina" class="michal-image"> 
      <img src="data:image/png;base64, {{second_halving}}" alt="Cykl bitcoina" class="michal-image"> 
    </div>
  </div>


{% endblock%}
