<nav class="bg-gray-800 fixed z-50 top-0 left-0 right-0">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <img class="h-8 w-auto" src="{{url_for('static', filename='assets/python-logo.png')}}" alt="Your Company">
        </div>
        <div class="sm:ml-6">
          <div class="flex space-x-4">
            <a href="{{base_url}}/main" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white">Menu Główne</a>
            <a aria-current="page" href="{{base_url}}/main?page=andrzej" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Andrzej</a>
            <a aria-current="page" href="{{base_url}}/main?page=adrian" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Adrian</a>
            <a aria-current="page" href="{{base_url}}/main?page=michal" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Michał</a>
          </div>
        </div>
      </div>
      <div class="sm:ml-6">
        <div class="flex items-center">
          <a href="{{base_url}}/logout" class="relative gap-2 flex flex-row rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
            <span>Wyloguj</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
